<h1 class="color" routerLink="/" routerLinkActive="active">
  Hello {{name}}, Welcome to {{title}}!
</h1>

<h2>Views to chose from</h2>
<h4 routerLink="/data" routerLinkActive="active">1: Data</h4>
<h4 routerLink="/starwars" routerLinkActive="active">2: Starwars</h4>
<h4 routerLink="/soccer" routerLinkActive="active">3:Soccer Teams</h4>

<!-- <video-list></video-list> -->

<a href="https://www.youtube.com/watch?v=2AiQP_k4Ld8">Youtube Angular routing video</a>

<br>



<!-- <div class="view">

<app-data></app-data>

<br>

<app-starwars></app-starwars>


</div> -->

<router-outlet></router-outlet>